# Pandas学习

### 1. DataFrame与Series

In [2]:
# Series类似于字典，可以使用字典创建 series
import pandas as pd
sdata = {"Ohio":35000,"Texas":72000,"Utah":5000}
s = pd.Series(sdata)
s

Ohio     35000
Texas    72000
Utah      5000
dtype: int64

In [3]:
# Series数据访问
s['Ohio']

35000

In [5]:
# 使用index列表
print(type(s[['Texas','Utah']]))
s[['Texas','Utah']]

<class 'pandas.core.series.Series'>

Texas    72000
Utah      5000
dtype: int64

In [6]:
# DataFrame 可以看作由Series组成的字典，key代表columns，values代表Series
# DataFrame 查询一行一列结果是Series类型
# DataFrame 查询多行多列结果是DataFrame类型

### 2. Pandas数据查询

In [7]:
# loc的使用
# 1. 使用单个label值查询数据得到单个值/Series   loc[indx,column]  loc[index,[column1,column2,...]]
# 2. 使用值列表批量查询     loc[[index1,index2,...],[column1,column2,...]]
# 3. 使用区间进行范围查询,行和列都可以是一个区间   loc[index1:index5,column1:column6]
# 4. 使用条件表达式查询   筛选行：df.loc[df[column] 条件表达式，:]
# 5. 使用函数查询         筛选行：df.loc[lambda x:函数表达式（使用x[colunm1],x[colunm2]访问每行元素）,：]

### 3.新增数据列或者修改列

In [8]:
# 1.使用loc 可以直接修改值,新增列
# 2.使用apply方法
# 3.使用assign新增列，不会修改原来的列，可以同时增加很多列
# 4.条件选择选择分组分别赋值  df.loc[条件表达式选择行（index），column]