In [1]:
import pandas as pd
import numpy as np

In [17]:
# get data
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [18]:
chipo.head(5)   # 订单-商品粒度

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
# What is the number of observations in the dataset?
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [8]:
# Which was the most-ordered item?
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'],ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [9]:
# What was the most ordered item in the choice_description column?
c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values(['quantity'],ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [10]:
# How many items were orderd in total?
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

In [19]:
# Turn the item price into a float
# DataFrame单列访问的两种方式：
# 1.df['col']    单列索引方式
# 2.df.col     属性方式
chipo.item_price.dtype

dtype('O')

In [20]:
chipo['item_price'] = chipo['item_price'].apply(lambda x:float(x[1:-1]))
chipo.item_price.dtype

dtype('float64')

In [23]:
# How much was the revenue for the period in the dataset?
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("The Revenue:"  + str(np.round(revenue,2)))

The Revenue:39237.02

In [30]:
# How many orders were made in the period?
order_count = chipo.order_id.value_counts()    # 统计每个order_id的数量
order_count

926     23
1483    14
205     12
691     11
1786    11
        ..
105      1
702      1
718      1
568      1
800      1
Name: order_id, Length: 1834, dtype: int64

In [31]:
order_count.count()

1834

In [33]:
# What is the average revenue amount per order
# 订单-商品粒度的revenue
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
# 根据order_id排序，对revenu求sum后求mean
average_revenue = chipo.groupby('order_id').sum().mean()['revenue']
average_revenue

21.394231188658654

In [34]:
# How many different items are sold
chipo.item_name.value_counts().count()

50